/* Unload red tabs line */
.tabbrowser-tab[pending] .tab-content {
margin-bottom: 2px !important;
border-top-style: solid !important;
border-width: 2px !important;
border-color: red !important;
}

/* Hide hamburger separator */
#PanelUI-button {
margin-inline-start: -3px !important;
border-inline-start: 0px solid !important;
border-image: unset !important;
border-image-slice: 0 !important;
}

/* Find bar on top */
.browserContainer findbar, #viewSource #FindToolbar {
-moz-box-ordinal-group: 0;
border-bottom: 1px solid #01323F !important;
margin-top: -1px !important;
width: 100% !important;
}
